<!-- <div class="grid-container">
	<div class="title">
		<h1>Lucas Ferguson</h1>
	</div>
	<div class="nav">
		<nav>
			<a routerLink="/home">Home</a>
			<a routerLink="/about">About</a>
			<a routerLink="/aaa">aaaa</a>
		</nav>
	</div>
</div> -->
<!-- 
<mat-menu #animals="matMenu">
	<button mat-menu-item [matMenuTriggerFor]="vertebrates">Vertebrates</button>
	<button mat-menu-item [matMenuTriggerFor]="invertebrates">Invertebrates</button>
</mat-menu>

<mat-menu #vertebrates="matMenu">
	<button mat-menu-item [matMenuTriggerFor]="fish">Fishes</button>
	<button mat-menu-item [matMenuTriggerFor]="amphibians">Amphibians</button>
	<button mat-menu-item [matMenuTriggerFor]="reptiles">Reptiles</button>
	<button mat-menu-item>Birds</button>
	<button mat-menu-item>Mammals</button>
</mat-menu> -->

<mat-slider min="1" max="100" step="1" value="1"></mat-slider>