.grid-container {
	display: grid;
	grid-template-columns: 1.6fr 0.4fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-template-areas: "name nav";
	position: fixed; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	width: 100%; /* Full width */
	background-color: rgba(255, 255, 255, 0.5);
}
.name {
	grid-area: name;
}
.nav {
	grid-area: nav;

	button {
		margin: 10px;
	}
}
