.page {
	// background-color: rgb(194, 194, 194);
	height: 60%;
	padding-top: 100px;
}

.box {
	z-index: 100;
	max-width: 800px;

	background-color: rgba(44, 131, 218, 0.6);
	color: white;
	margin: 0 auto;
	// margin-top: 200px;
	padding: 30px;
	// width: 50%;
	// min-width: 500px;
	margin-top: 40px;

	text-align: center;

	h1 {
		padding: 0px;
		margin: 0px;
	}

	h2 {
		font-size: 6;
		font-style: italic;
		font-weight: 1;
		padding: 0px;
		margin: 0px;
	}
	h3 {
		font-size: 6;
		font-weight: 1;
		padding: 0px;
		margin: 0px;
	}
}

.myCanvasClass {
	z-index: -1;

	position: absolute;
	outline-style: auto;
}
